/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* top navigation */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;

  
}



.nav-center1, .nav-center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.nav-container {
    display: flex;      
    gap: 40px;          
}

 

.nav-center1:hover, .nav-center2:hover {
    
    cursor: pointer;
    text-indent: 20px;
    transition: 1s ease-in-out;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;

}
/* layout */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 40px;
        width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: none !important;
    max-width: 1400px !important;
}

/* big titles */
.titles h1 {
   font-size: 48px;
    line-height: 1.4;
    font-size: 100px;
    font-family: "Kapakana", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding: 20px 0;
    display: block;

   
   
}


  


/* underline effect */
.titles span {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 50px;
    text-decoration: underline;
    
}

/* sidebar text */
.sidebar {
    font-size: 18px;
    color: rgb(255, 251, 251);
    line-height: 1.6;
    
     


}

/* main text */
.text {
    grid-column: 1 / 2;
    font-size: 25px;
    margin-top: 40px;
  

}


a {
  text-decoration: underline;
  color: white;   /* default color */
}



a:visited {
  color: rgb(204, 204, 204);
}

.numbers {
    font-weight: bold;
    color: #cecece;
    margin-right: 10px;
    font-size: 40px;

}



p {
      margin-bottom: 1em; 
  margin-top: 40em;
   display: block;
   
   
}

img {
    display: block;
    margin-top: 0; 
      
}



   



